<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Mencegah pengalihan untuk file dan direktori yang ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Mengarahkan semua permintaan ke index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>