@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Regular.eot");
  src: local("GT Walsheim Pro Regular"), local("../fonts/GTWalsheimPro-Regular"),
    url("../fonts/GTWalsheimPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Regular.woff") format("woff"),
    url("../fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Medium.eot");
  src: local("GT Walsheim Pro Medium"), local("../fonts/GTWalsheimPro-Medium"),
    url("../fonts/GTWalsheimPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GTWalsheimPro-Medium.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Medium.woff") format("woff"),
    url("../fonts/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}